<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Apex Leaderborads</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="img/apex_logo.png" width="50"></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container row">
    <div class="col-1"></div>
    <div class="card col-10 mb-3">
      <span class="text-body-secondary text-center">Select a platform</span>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">PC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Playstation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Xbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Switch</a>
        </li>
      </ul>
    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="card col-10 mb-3">
      <span class="text-body-secondary text-center">Apex 750 LP Needed</span>
      <span class="text-body-secondary text-center">Total Masters/Preds</span>
      <span class="text-body-secondary text-center">Season Ends</span>

    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="card col-10 mb-3">
      <span class="text-center">Leaderboards</span>
    </div>
    <div class="col-1"></div>
  </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>